.fab{
    color:#fff;
    margin: 5px;
  }
  .container {
    text-align: center;
    background-color: #fff;
  }

  .carousel {
    margin-bottom: 5%;
  }
  p {
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    line-height: 25px;
  }

  footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left:100px;
    border-top: 3px solid rgb(97, 189, 97);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  nav {
    border-bottom: 3px solid rgb(97, 189, 97);
  }
  .sticky-top {
    position: sticky;
  }

  .center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .container-2 {
    color: white;
    background-color: rgb(97, 189, 97);
    padding: 15%;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    margin-top: 15%;
  }

  h3 {
    text-align: center;
    font-size: 65px;
    font-family: "Bebas Neue", cursive;
    font-weight: bolder;
  }
  .btn {
    background-color: rgb(97, 189, 97);
    color: #fff;
    border: rgb(97, 189, 97);
    font-family: "Barlow", sans-serif;
  }

  #img-profile {
    border: 2px solid lightgray;
    position:relative;
  }

  #img-profile:hover {
    border: 5px solid black;
    opacity: 0.3;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .dropdown-item:hover {
    background-color: rgb(97, 189, 97);
  }
  .btn-light-gray{
    color:#000;
    background-color:lightgrey;
    border:1px solid black;
}

.card-body{
    background-color:rgb(97, 189, 97);
    text-align:center;
    opacity: 0.9;
    color:#fff;
    height: 120%;
    font-family: 'Barlow', sans-serif;
    font-weight:1200;
    padding-bottom:100%;
  
}

.col-center{
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  .img-fluid{
     max-width: 100%; 
     height: auto;
  } 

  img{
    border: 1px solid lightgray;
    
  }

  #img-profile:hover{
    border:5px solid black;
    opacity:0.4;
  }

  .dropdown-item:hover{
    background-color:rgb(97, 189, 97);
  }

  .mt-2{
      font-size: 34px;
  }

  .center-box{
      padding-top:25px;
  }

  .main-box{
      background-color:#fff;
      color:black;
    
    }

.experience{
    font-size:68px;
    font-family:"Barlow", sans-serif;
}
.info{
    opacity: 0;
    position:relative;
}

#section2{
    opacity:0;
}

#img-profile{
    opacity:0;
}

.fas{
    opacity: 0;
    position: relative;
}
.far{
    opacity:0;
    position: relative;
}

#card-box{
    opacity:0;
    position:relative; 
}

.fa-2x{
    opacity: 1;
}
.fa-envelope{
    opacity:1;
}

/* .portfolio-image{
  opacity:0;
} */

.portfolio-image:hover{
  opacity:0.4;
  box-shadow: 2px 2px 2px 2px gray;
}

.hide{
  display:none;
}

/* .weatherCol #githubWeather {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
} */
